<div class="messages-container">
    <% messages.forEach((element) => { %>
        <div class="message-card">
            <div class="message">
                <h3><%= element.title %></h3>
                <p><%= element.message %></p>
            </div>
            <div class="message-info">                
                <p>From: <%= element.username ? element.username : 'Anonymous member' %></p>
                <% if (element.created_at) { %>
                    <p><%= element.created_at %></p>
                <% } %>                         
            </div>
            <% if (currentUser && currentUser.is_admin) { %>
                <form action="/message/delete/<%= element.id %>" method="GET">
                    <button type="submit" class="delete-message-button">Delete</button>
                </form>
            <% } %> 
        </div>
    <% }) %>
</div>