<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    <script defer src="/js/index.js"></script>
    <title>Sign up</title>
</head>
<body>
    <%- include("../partials/header") %>    
    <main class="main">
        <%- include("../partials/nav_links") %>
        <div class="form-wrapper">
            <h1 class="form-title">Create a message</h1>
            <%- include('../partials/validationErrors') %>
            <form action="/message/create" method="POST" class="form">
                <label for="title">Title</label>
                <input 
                    type="text" 
                    name="title" 
                    id="title"
                    value="<%= data ? data.title : '' %>"              
                    required
                >
                <label for="message">Message</label>
                <textarea                 
                    name="message" 
                    id="message"
                    rows="5"             
                    required
                ><%= data ? data.message : '' %></textarea>
                <div class="buttons-container">
                    <a href="/"><button type="button" class="cancel-button">Cancel</button></a>           
                    <button type="submit">Submit</button>                
                </div>
            </form>
        </div>
    </main>    
    <%- include("../partials/footer") %>     
</body>
</html>